body {
  height: 300vh;
}

.use-perspective-translate-z-ctn {
  perspective: 133px;
}

.use-perspective-translate-z {
  animation: moveOnZ 3s infinite ease-in-out alternate;
  background-color: red;
}

@keyframes moveOnZ {
  from {
    transform: translateZ(-100px);
  }
  to {
    transform: translateZ(100px);
  }
}

@keyframes perspectiveOrigin {
  0% {
    perspective-origin: left;
  }
  50% {
    perspective-origin: right;
  }
  100% {
    perspective-origin: left;
  }
}

@keyframes moveOnX {
  0% {
    transform: translateX(100px) rotateY(90deg);
  }
  100% {
    transform: translateX(-100px) rotateY(90deg);
  }
}

#perspective-origin-left-to-right-ctn {
  perspective: 240px;
  /* animation: perspectiveOrigin 8s ease-in-out infinite alternate; */
}
#perspective-origin-center-ctn {
  perspective: 240px;
  animation: perspectiveOrigin 8s ease-in-out infinite alternate;
}

#perspective-origin-left-to-right-ctn div {
  animation: moveOnX 4s ease-in-out infinite alternate;
}
#perspective-origin-center-ctn div {
  transform: rotateY(90deg);
}

/* cube */
#css-trick-transform-style-preserve-3d {
  perspective: 800px;
  perspective-origin: right top;
  height: 400px;
  width: 400px;
}

#css-trick-transform-style-preserve-3d .cube {
  transform-style: preserve-3d;
  height: 100px;
  width: 100px;
}
.side {
}
.front {
  background-color: #d50000;
  transform: translateZ(50px);
}
.back {
  background-color: #aa00ff;
  transform: translateZ(-50px);
}

.left {
  background-color: #304ffe;
  transform: translateX(50px) rotateY(90deg);
}
.right {
  background-color: #0091ea;
  transform: translateX(-50px) rotateY(90deg);
}

.top {
  background-color: #00bfa5;
  transform: translateY(50px) rotateX(90deg);
}
.bottom {
  background-color: #64dd17;
  transform: translateY(-50px) rotateX(90deg);
}
